rabbits/.idea/
rabbits/sciper1-sciper2/out/
rabbits/sciper1-sciper2/bin/
rabbits/sciper1-sciper2/.settings/
*.aux
*.log
*.gz
rabbits/report_rabbits.pdf
rabbits/sciper1-sciper2/.project
rabbits/sciper1-sciper2/.classpath
reactive/.idea/
reactive/bin/
reactive/history.xml
reactive/.classpath
rabbits/.project
deliberative/out/
deliberative/.idea/
deliberative/history.xml
deliberative/.classpath
deliberative/bin/
deliberative/.settings/org.eclipse.jdt.core.prefs
centralized/.idea/
centralized/centralized.iml
centralized/.classpath
centralized/history.xml
centralized/bin/.gitignore
centralized/bin/
auction/.classpath
auction/.idea/
auction/bin/
auction/history.xml
auction/logist/
